<h2>Delete an user</h2>

<p>Are you sure you want to delete <strong><%= current_user.name %></strong></p>

<%= link_to("Yes", {:action => 'destroy'}, :class => "btn delete left") %>
<%= link_to("No", {:action => 'show'}, :class => "btn new bigger") %>