<h2>New Learn Moment</h2>
	
<ul>
	<%= form_for(:learnmoment, :url => {:action => 'create', :id => @learnmoment.id, :competency_id => @competency.id}, :html => {:multipart => true}) do |f| %> 
	
		<%= render(:partial => "form", :locals => {:f => f}) %>

		<li class="form-buttons">
			<%= submit_tag("Create Learn Moment", :class => "btn new bigger left") %>
		</li>
	<% end %>
</ul>