<h2>Edit user</h2>

<p>You are edditing <%= current_user.name %></p>

<%= form_for(:user, :url => {:action => 'update'}, :html => {:multipart => true}) do |f| %>
	<ul>
		<%= render(:partial => 'form', :locals => {:f => f}) %>
		<br>
		<li><%= submit_tag("Update user", :class => "btn edit bigger") %></li>
	</ul>
<% end %>