
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400);

$spacing: 		24px;

/* Colors */
$blue: 		#398bce;
$green: 	#7DC374;
$red: 		#d9534f;
$orange: 	#f0ad4e;

$soft-red: #f2dede;
$soft-orange: #fcf8e3;
$soft-green: 	#dff0d8;

$dark-green: #6db068;
$dark-red: #c9302c;
$dark-blue: #2d6ea3;

/* fonts */
$basic-font: 'Open Sans', sans-serif;

